.vscode 
venv 
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
venv/
__pycache__/
.ipynb_checkpoints/
data/processed/
data/interim/
data/external/
*.pt
*.pth
.env
